@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10%;
    --color-content: #ffffff;
    --color-button: #fdb225;
    --color-textHero: #14100b;
    --color-textHeroSpan: #fdb21f;
    --color-textNormal: #4a4a4a;
  }

  .dark {
    --background: 220 30% 10%;
    --foreground: 0 0% 98%;   
    --color-content: #1b1b1b;
    --color-button: #4d7a3e;
    --color-textHero: #f5f5f5;
    --color-textHeroSpan: #88b863;
    --color-textNormal: #cccccc;
  }
}
